<!-- views/dogs-new.handlebar -->

<form method="POST" action="/dogs">
  <fieldset>
    <legend>Nuovo Cane</legend>
    <p>
      <label for="name">Nome</label>
      <input id="name" type="text" name="name" />
    </p>
    <p>
      <label for="height">Altezza</label>
      <input id="height" type="number" name="height" />
    </p>
  </fieldset>

  <p>
      <button type="submit">Salva il cane</button>
  </p>
</form>